<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Placeholder</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <ul class="nav-ul">
          <% if logged_in? %>
          <li>About</li>
          <li><a href="/latest"> News</a></li>
          <a href="/">
            <h1 class="heading"><%=current_user["username"]%></h1></a
          >
          <li><a href="/"> Your Feed</a></li>
          <form action="/logout" method="post">
            <input type="hidden" name="_method" value="delete" />
            <button class="logout-btn"><li>Logout</li></button>
          </form>

          <% else %>
          <li>About</li>
          <li>News</li>
          <a href="/"> <h1 class="heading">Placeholder</h1></a>
          <li><a href="/login"> Sign-in</a></li>
          <li><a href="/signup"> Sign-up</a></li>

          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
