<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Placeholder</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <ul class="nav-ul">
          <li>asd</li>
          <li>asdf</li>
          <h1 class="heading">Placeholder</h1>
          <li>asdf</li>
          <li>asdf</li>
        </ul>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
