<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Music Reviews Social Media</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <ul class="nav-ul">
          <% if logged_in? %>
          <a href="/explore">
            <li>Explore</li>
          </a>
          <li><a href="/new">Post Review</a></li>
          <a href="/"> <h1 class="heading">MusicReviews</h1></a>
          <li>
            <a href="/users/<%=current_user['id']%>">
              <%=current_user["username"]%></a
            >
          </li>
          <form action="/logout" method="post">
            <input type="hidden" name="_method" value="delete" />
            <button class="logout-btn"><li>Logout</li></button>
          </form>

          <% else %>
          <a href="/explore">
            <li>Explore</li>
          </a>
          <li>News</li>
          <a href="/"> <h1 class="heading">MusicReviews</h1></a>
          <li><a href="/login"> Sign-in</a></li>
          <li><a href="/signup"> Sign-up</a></li>

          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
