* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NAV BAR */

.nav-bar {
  margin: 1% 15% 5% 15%;
}

.nav-bar .nav-ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  list-style: none;
}

.nav-bar .nav-ul li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding-top: 24px;
}

.nav-bar .nav-ul li:hover {
  text-decoration: underline;
}

.nav-bar .nav-ul .heading {
  font-size: 48px;
  text-decoration: underline;
}

.nav-ul a {
  color: black;
  text-decoration: none;
}

.nav-ul button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* NOT LOGGED IN */

/* LATEST REVIEW + MOST POPULAR REVIEW */

.home-container {
  margin: 0 30% 0 30%;
  font-family: Arial, Helvetica, sans-serif;
}

.recent {
  padding-left: 75px;
}

.recent a {
  color: black;
}

.sub-container {
  margin: 0 10% 0 10%;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-gap: 25px; */
  /* padding-bottom: 50px; */
}

.review-container {
  background-color: white;
  /* padding-top: 25px; */
  border-top: 1px gray solid;
}

.review-container:hover {
  background-color: #dddddd;
}

.review-container:first-child {
  margin-top: 50px;
}

.review-container:last-child {
  margin-bottom: 100px;
}

.review-container img {
  width: 300px;
}

.review-container form {
  display: inline;
}

.review-container img {
  /* width: 100%; */
  float: right;
}

.review-container p {
  font-size: 16px;
}

.pointer-btn {
  cursor: pointer;
}

.review-container a {
  text-decoration: none;
  font-size: 16px;
}

.review-container .description {
  font-size: 16px;
  display: inline;
}

.read-more {
  margin-right: 100px;
}

.review-sport,
.review-username,
.review-date,
.read-more {
  display: inline;
  color: #000000;
}

.review-username {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2.5px solid white;
}

.detail-links {
  display: inline;
}

/* SIGN UP */

/* ACTUAL REVIEW */
.full-review-container {
  margin: 0 5% 0 5%;
}

.review-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.review-details .artist-name {
  font-size: 100px;
  padding-top: 150px;
}

.review-details .review-title {
  font-size: 72px;
}

.review-score p {
  text-align: center;
  font-size: 100px;
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 200px;
  border: 10px solid black;
  border-radius: 150px;
}

.review-details p {
  font-size: 24px;
}

.review-author {
  display: inline;
}

.review-img img {
  width: 600px;
}

iframe {
  float: right;
}

.review-img {
  width: 300px;
}

.review-container .feed-content {
  font-size: 16px;
  width: 500px;
  /* height: 100px; */
  /* white-space: nowrap; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feed-container {
  margin: 0 10% 0 10%;
  display: grid;
  grid-template-columns: 1fr;

  /* grid-gap: 25px; */
  /* padding-bottom: 25px; */
}

.feed-title {
  font-size: 20px;
  color: black;
  padding-bottom: 5px;
}

.review-container .feed-img {
  margin-top: -65px;
  width: 60px;
}

.review-container .feed-date {
  font-size: 16px;
  display: inline;
}

.author-link {
  color: black;
}

.review-container .feed-author {
  font-size: 22px;
  color: gray;
  padding-right: 15px;
  /* width: 50px; */
  display: inline;
}

.end {
  text-align: center;
  font-size: 48px;
  padding-bottom: 100px;
}

.username-profile {
  display: inline;
  padding-left: 70px;
}

form {
  display: inline;
}

.follow-btn {
  margin-left: 50px;
  padding: 5px;
  font-size: 16px;
  background-color: red;
  border: none;
  color: white;
  border-radius: 5px;
}
